.preview{
    height:270px;
    background-size: cover;
    width:110%;
    margin-left:-1.5%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-weight: 700;
    box-shadow:1px 1px 20px #f4945c;
}
.preview p{
    color:white;
    margin-left:7%;
    animation:enter 1s forwards 0.3s;
    position:relative;
    right:500px;
}
.preview text{
    color:white;
    font-size:2.5rem;
    margin-left:7%;
    animation:enter 1s forwards ;
    position:relative;
    right:500px;
}

@keyframes enter{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(500px);
    }
}