.header>.details{
    width: 100%;
    /* border-bottom:1px solid rgb(218, 218, 218); */
    display:flex;
    margin-top:-0.5%;
    margin-left:-0.5%;
    height:55px;
    /* height:6vh; */
    gap:2%;
    z-index:10;
}
.header .contact-details{
    flex:2.4;
    display:flex;
    justify-content:center;
    padding-left:10%;
    padding-right:10%;
    align-items:center;
    height:100%;
    gap:1%;
    box-shadow: 1px 1px 5px rgb(214, 214, 214);
}
.header .contact-details div{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    gap:2%;
}
.header .contact-details div img{
    height:70%;
    opacity:0.7;
}
.header .contact-details text{
    text-align:center;
    color:rgb(139, 139, 139);
}
.header .links{
    flex:1.1;
    display:flex;
    height:100%;
    gap:2.5%;
    align-items:center;
}
.header .links img{
    height:70%;
    opacity:0.6;
    /* box-shadow:0px 0px 50px grey; */
}
@media (max-width:1000px){
    .header .details{
        display:none;
    }
}