.menu-container{
    width:100%;
    background-color:rgb(255, 255, 255);
    height:1000px;
    display:flex;
    align-items:center;
    /* justify-content:center; */
    flex-direction:column;
    padding:3%;
    height:min-content;
}
.menu-main{
    width:100%;
    box-shadow:0px -10px 50px rgb(244, 220, 176);
    height:570px;
    border-radius: 18px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
    margin-top: 10%;
    border-bottom: 1px solid rgb(168, 167, 167);
}
.menu-main h1{
    color:black;
    font-weight:600;
    width:100%;
    text-shadow: 0px 0px 5px rgb(152, 151, 151);
    text-align:center;
    font-size:2.5rem;
    border-bottom:4px solid rgb(248, 232, 203);
    background-color: orange;
    color:white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding:0.6%;
    margin-top: -5%;
}
.starters{
    width:90%;
    height:400px;
    margin-top:2%;
    border-radius:8px;
    display:flex;
    align-items:center;
    overflow-x:auto;
    box-shadow: 0px 0px 20px rgb(157, 157, 157);
    /* justify-content:space-evenly; */
}
.starters .menu-card{
    margin-left:20px;
    height:90%;
    width:23%;
    min-width:250px;
    box-shadow:0px 0px 10px rgb(220, 220, 220);
    border-radius:8px;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
}
.starters >:nth-last-child(1){
    margin-right:20px;
}
.starters .menu-card .img-container{
    height:45%;
}
.starters .img-container img{
    height:100%;
}
.starters .menu-card .text-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:column;
}
.starters .text-content h2{
    font-weight:600;
    font-size:1.5rem;
}
.starters .text-content p{
    width:100%;
    padding:5%;
    color:grey;
    text-align:center;
    font-size:0.9rem;
    min-height:90px;
}
.starters .text-content span{
    width:100%;
    padding:2.5%;
    font-weight: 600;
    color:white;
    font-size:1.5rem;
    text-align:center;
    background-color:rgb(255, 140, 0);
}
.menu-main .scroll-buttons {
    width:min-content;
    margin-top:2%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4%;
    padding:1%;
    border-radius:8px;
    box-shadow:0px 0px 10px rgb(220, 220, 220);
}
.menu-main .scroll-buttons button{
    width:70px;
    height:70px;
    border-radius:8px;
    background-color:salmon;
    color:white;
    font-weight:600;
    font-size:2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-main hr{
    height: 5px;
    background-color: black !important; 
    border: none;
    margin: 10px 0;
  }