@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 3s ease-out forwards;
}

.animate-fadeInDelay {
  animation: fadeInDelay 1.5s ease-out forwards;
}


@keyframes swipeInBottom {
  0% {
    transform: translateY(100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1;
  }
}

.animate-swipeInBottom {
  animation: swipeInBottom 0.8s ease-out forwards;
}

@keyframes popup {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-popup {
  animation: popup 1.5s ease-out forwards;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    display: flex;
    overflow: hidden;
    width: 300px;
    height: 200px;
  }
  
  .card {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .card.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .card.next {
    opacity: 1;
    transform: translateX(100%);
  }
  
  .card.previous {
    opacity: 1;
    transform: translateX(-100%);
  }

@keyframes swipeIn {
  0% {
    transform: translateX(100%); 
    opacity: 0;
  }
  100% {
    transform: translateX(0); 
    opacity: 1;
  }
}


.swipe-in {
  animation: swipeIn 0.5s ease-out;
}
