.navbar{
    width:102%;
    height:90px;
    /* height:12vh; */
    display:flex;
    margin-left:-1%;
    /* margin-top:0.5%; */
    /* box-shadow:0px 0px 10px rgb(214, 213, 213); */
}
.navbar .title{
    flex:1.3;
    display:flex;
    align-items:center;
    /* background-image:linear-gradient(to top left,#f5b996,#f5d6c3,white); */
    color:black;
    box-shadow:5px 0px 2px -1px rgb(236, 236, 236);
    min-width: min-content;
    padding-right:5%;
}
.navbar .title text{
    margin-left:10%;
    font-size:2rem;
    font-weight:600;
    text-shadow:0px 0px 10px rgb(184, 184, 184);
}
.navbar .navigation{
    flex:1.6;
    min-width:700px;
    display:flex;
    gap:2%;
}
.navbar .navigation div{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
}
.navbar .navigation a{
    width:100%;
    height:80%;
    color:grey;
}
.navbar .navigation a:hover{
    /* background-color:antiquewhite; */
    border-bottom:5px solid #f4ac84;
    cursor:pointer;
    color:#f4ac84;
}
.navbar .navigation a button{
    background:none;
    border:none;
    font-weight:600;
    font-size:1rem;
    width:100%;
    color:inherit;
    height:100%;
    cursor:inherit;
}
.navbar .optional{
    flex-grow:0.5;
    flex-shrink:5;
    background-color:rgb(246, 204, 163);
    min-width:100px;
    display:flex;
    justify-content: center;
    align-items: center;;
}
.navbar .optional img{
    height:50%;
    visibility: hidden;
}
.navbar .optional img:hover{
    cursor: pointer;
}
.header .sidebar{
    display: none;
}
.header .collapse-sidebar{
    display: none;
}
@media (max-width:1000px){
    .navbar .navigation{
        visibility: hidden;
        min-width:0px;
    }
    .navbar .optional img{
        visibility:visible;
    }
    .navbar{
        border-top:5px solid #eec1a8;
        margin-top: -1.2%;
    }
    .header .sidebar{
        z-index:10;
        position:absolute;
        right:-275px;
        top:0;
        width:275px;
        height:450px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items: center;
        box-shadow:-5px 5px 20px black;
        gap:2%;
        background-color:white;
        animation: expand 0.35s forwards;
        /* border:5px solid #f4ac84; */
        /* border-top:none;
        border-right:none;
        border-bottom: none; */
    }
    .header .sidebar div{
        flex:1;
        display:flex;
        align-items:center;
        justify-content:center;
        width:96%;
        color:white;
        box-shadow:0px 0px 7.5px #f3a47a;
        font-weight:600;
        background-color: #f09c6e;
        /* border-bottom:2px solid #f4ac84; */
    }
    .header .collapse-sidebar{
        z-index: 8;
        position:absolute;
        right:-75px;
        top:5px;
        width:75px;
        height:70px;
        display:flex;
        justify-content:center;
        align-items: center;
        border-radius:10px;
        background-color: #ec7d42;
        color:white;
        font-size: 2.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow:-5px 0px 10px black;
        animation: intoview 0.4s forwards;
    }
    .header .collapse-sidebar:hover{
        cursor: pointer;
    }
    @keyframes intoview {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-340px);
        }
    }
    @keyframes expand{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-275px);
        }
    }
}